@*@model IEnumerable<TISS_Web.Models.ArticleContentModel>*@
@model Test_Tiss.Models.HomeViewModel
@{
    Layout = "~/Views/Shared/_TissMaster.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/site/css/SectionTitleStyle.css" rel="stylesheet" />
    @*<link href="~/site/css/socialStyle.css" rel="stylesheet" />*@
    @*<script src="~/site/js/HomeFun.js"></script>*@
    <link href="~/site/css/bbb.css" rel="stylesheet" />
</head>
<body>
    <div class="layout">
        <div class="container-fluid px-0 mt-header">
            <div class="Home">
                <div class="SectionBanner">
                    <!-- 輪播圖 -->
                    <div id="carouselExample" class="carousel slide" data-ride="carousel" style="height: 520px;">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/site/img/about_banner_1.cb027849.jpg" class="d-block w-100" alt="Taiwan Institute of Sports Science">
                                <div class="carousel-caption d-none d-md-block">
                                    <h1 class="main-title">國家運動科學中心</h1>
                                    <p class="content">推動運動科學研究及應用<br>提升國際競技水準與運動產業競爭力</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex justify-content-center">
                                    <img src="~/storage/media/ORS(1).jpg" class="d-block w-100" alt="ORS">
                                    <div class="carousel-caption d-none d-md-block">
                                        <!-- 第二張圖片的副標題和描述 -->
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex justify-content-center">
                                    <img src="~/storage/media/MOU簽署-合作學校(1).jpg" class="d-block w-100" alt="MOU學校">
                                    <div class="carousel-caption d-none d-md-block">
                                        <!-- 第三張圖片的副標題和描述 -->
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex justify-content-center">
                                    <img src="~/storage/media/商品照1.jpg" class="d-block w-100" alt="商品照">
                                    <div class="carousel-caption d-none d-md-block">
                                        <!-- 第四張圖片的副標題和描述 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="news" class="SectionNews mt-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block">
                                <div class="SectionHeader">
                                    <div class="Title">
                                        <div class="SectionTitle" title="News">News</div>
                                        <div class="SectionSubTitle">
                                            <img class="icon" src="/site/img/title_icon.64a1ea61.svg" alt="最新消息" title="最新消息">最新消息
                                        </div>
                                    </div>
                                </div>
                                <a id="latestArticleLink" href="@Url.Action("ViewArticle", "Tiss", new { encryptedUrl = Model.LatestArticle.EncryptedUrl })" class="">
                                    <div class="NewsItemBox headline">
                                        <div class="NewsItemImg">
                                            @if (Model.LatestArticle.ImageContent != null)
                                            {
                                                string base64Image = Convert.ToBase64String(Model.LatestArticle.ImageContent);
                                                <img src="data:image/png;base64,@base64Image" alt="圖片" class="img-fluid" />
                                            }
                                            <div class="tag">@Model.LatestArticle.ContentType</div>
                                            <div class="Mask" title="閱讀更多">閱讀更多</div>
                                        </div>
                                        <span class="NewsItemTitle">@Model.LatestArticle.Title</span>
                                        <div class="NewsItemContent">
                                            <span>@Model.LatestArticle.BodyContent</span>
                                        </div>
                                        <div class="NewsItemInfo">
                                            <span class="badge badge-primary">@Model.LatestArticle.Hashtags</span>
                                            <span>@Model.LatestArticle.PublishedDate.ToString("yyyy-MM-dd")</span>
                                        </div>
                                    </div>
                                </a>
                                <div class="mt-5">
                                    <a href="/Tiss/announcement" class="btn btn-dark btn-block">全部文章</a>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="SectionHeader">
                                    <div class="Title d-lg-none">
                                        <div class="SectionTitle" title="News">News</div>
                                        <div class="SectionSubTitle">
                                            <img class="icon" src="/site/img/title_icon.64a1ea61.svg" alt="最新消息" title="最新消息">最新消息
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6 mb-3">
                                            <button data-content-type-id="0" class="btn btn-outline-primary btn-block">所有類別</button>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <button data-content-type-id="1" class="btn btn-outline-primary btn-block">新聞發佈</button>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <button data-content-type-id="2" class="btn btn-outline-primary btn-block">中心訊息</button>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <button data-content-type-id="8" class="btn btn-outline-primary btn-block">徵才招募</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="articleContainer">
                                    @foreach (var article in Model.OtherArticles)
                                    {
                                        <div class="col-md-6 mb-4">
                                            <a href="@Url.Action("ViewArticle", "Tiss", new { encryptedUrl = article.EncryptedUrl })" class="">
                                                <div class="NewsItemBox">
                                                    <div class="NewsItemImg">
                                                        @if (article.ImageContent != null)
                                                        {
                                                            string base64Image = Convert.ToBase64String(article.ImageContent);
                                                            <img src="data:image/png;base64,@base64Image" alt="圖片" class="img-fluid" />
                                                        }
                                                        <div class="tag">@article.ContentType</div>
                                                        <div class="Mask" title="閱讀更多">閱讀更多</div>
                                                    </div>
                                                    <span class="NewsItemTitle">@article.Title</span>
                                                    <div class="NewsItemContent">
                                                        <span>@article.BodyContent</span>
                                                    </div>
                                                    <div class="NewsItemInfo">
                                                        <div class="badge badge-secondary">@article.Hashtags</div>
                                                        <span>@article.PublishedDate.ToString("yyyy-MM-dd")</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="video" class="SectionVideo mt-5">
                    <div class="container">
                        <div class="SectionHeader">
                            <div class="Title">
                                <div class="SectionTitle" title="Video">Video</div>
                                <div class="SectionSubTitle">
                                    <img class="icon" src="/site/img/title_icon.64a1ea61.svg" alt="運動科學中心圖標" title="影音專區">影音專區
                                </div>
                            </div>
                        </div>
                        <div class="VideoCarousel">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="carousel slide" id="videoCarousel" data-ride="carousel">
                                        <div class="carousel-inner">
                                            @for (var i = 0; i < Model.Videos.Count; i++)
                                            {
                                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                                    <div class="VideoCarouselContent">
                                                        <div class="VideoCarouselContentBox">
                                                            <div class="Tag">
                                                                <span title="中心成果">中心成果</span>
                                                            </div>
                                                            <span class="Title">@Model.Videos[i].Title</span>
                                                            <span class="Content">@Model.Videos[i].BodyContent</span>
                                                            <div class="Info">
                                                                <span class="badge badge-secondary">人物專訪</span>
                                                                <span>@Model.Videos[i].PublishedDate</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <a class="carousel-control-prev" href="#videoCarousel" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#videoCarousel" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="video-container" style="position: relative; padding-bottom: 56.25%; height: 0;">
                                        @foreach (var video in Model.Videos)
                                        {
                                            <div class="video-item" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                                                @Html.Raw(video.VideoIframe)
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="BottomRow mt-4 text-center">
                            <a href="/Tiss/video" class="btn btn-outline-light">所有影音</a>
                        </div>
                    </div>
                </div>

                <div id="links" class="SectionLinks mt-5">
                    <div class="container">
                        <div class="SectionHeader">
                            <div class="Title">
                                <div class="SectionTitle" title="Links">Links</div>
                                <div class="SectionSubTitle">
                                    <img class="icon" src="/site/img/title_icon.64a1ea61.svg" alt="常用連結" title="常用連結">常用連結
                                </div>
                            </div>
                        </div>
                        <div class="SectionLinksList">
                            <div class="row">
                                <div class="col-6 col-md-4 mb-3">
                                    <a href="https://www.sa.gov.tw/">
                                        <img src="/site/img/links_logo.b6ae967e.svg" alt="教育部體育署" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col-6 col-md-4 mb-3">
                                    <a href="https://www.facebook.com/p/%E5%9C%8B%E5%AE%B6%E9%81%8B%E5%8B%95%E7%A7%91%E5%AD%B8%E4%B8%AD%E5%BF%83Taiwan-Institute-of-Sports-Science-61553673834147/?locale=zh_TW">
                                        <img src="~/site/img/facebook圖片.jpg" alt="國家運動科學中心FB" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col-6 col-md-4 mb-3">
                                    <a href="https://www.instagram.com/tiss_2024/">
                                        <img src="~/site/img/IG圖片.png" alt="國家運動科學中心IG" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col-6 col-md-4 mb-3">
                                    <a href="https://www.youtube.com/%40TISS_2024">
                                        <img src="~/site/img/YT圖片.jpg" alt="國家運動科學中心YouTube" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col-6 col-md-4 mb-3">
                                    <a href="https://www.sportscience.com.tw/">
                                        <img src="~/site/img/運動科學網.jpg" alt="運動科學網站" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col-6 col-md-4 mb-3">
                                    <a href="http://www.epsport.net/epsport/ep/index.asp">
                                        <img src="~/site/img/運動生理學網站圖片.jpg" alt="運動生理學網站" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*<footer class="footer mt-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <p>地址：813高雄市左營區軍校路199號</p>
                                <p>聯絡電話：07-586-1193</p>
                                <p>服務時間：週一至週五08:30~17:30</p>
                            </div>
                            <div class="col-md-4">
                                <ul class="list-unstyled">
                                    <li><a href="/Tiss/Home">首頁</a></li>
                                    <li><a href="#">中心介紹</a></li>
                                    <li><a href="#">最新消息</a></li>
                                    <li><a href="#">影音專區</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">科普專欄</a></li>
                                    <li><a href="#">公開資訊</a></li>
                                    <li><a href="#">贊助專區</a></li>
                                    <li><a href="#">服務信箱</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12 text-center">
                                <p>Copyright © 2024 國家運動科學中心. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </footer>*@
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
    var isLoggedIn = '@Session["LoggedIn"]' === 'True';

    if (isLoggedIn) {
        $('#logoutBtn').show(); // 顯示登出按鈕
    } else {
        $('#loginBtn').show(); // 顯示登入按鈕
    }

    if (window.location.pathname === '/Tiss/Home') {
        $('#adminUser').hide(); // 隱藏管理者按鈕
    }
});

document.addEventListener("DOMContentLoaded", function () {
    // 檢查當前頁面是否為首頁
    if (window.location.pathname === "/Home") {
        // 隱藏元素
        document.getElementById("adminUser").style.display = "none";
    }
});

$('#carouselExample').carousel({
    interval: 10000 // 10秒輪播圖
});

// Partial View控制
$('.category-button').click(function () {
    var contentTypeId = $(this).data('content-type-id');

    $.ajax({
        url: '/Tiss/GetArticles',
        type: 'GET',
        data: { contentTypeId: contentTypeId },
        success: function (data) {
            $('#articleContainer').empty();
            $('#articleContainer').append(data);
        },
        error: function (xhr, status, error) {
            console.error("讀取錯誤: " + status + " " + error);
        }
    });
});

// 影片左右跳轉
document.addEventListener('DOMContentLoaded', function () {
    var videoItems = document.querySelectorAll('.carousel-video-column .video-item');
    var articleItems = document.querySelectorAll('.carousel-article-column .article-item');
    var currentIndex = 0;

    function showItem(index) {
        videoItems.forEach(item => item.style.display = 'none');
        articleItems.forEach(item => item.style.display = 'none');

        if (videoItems[index]) videoItems[index].style.display = 'block';
        if (articleItems[index]) articleItems[index].style.display = 'block';
    }

    function showPrevious() {
        currentIndex = (currentIndex - 1 + videoItems.length) % videoItems.length;
        showItem(currentIndex);
    }

    function showNext() {
        currentIndex = (currentIndex + 1) % videoItems.length;
        showItem(currentIndex);
    }

    // 初始顯示第一個影片
    showItem(currentIndex);

    // 取得按鍵並添加事件處理程序
    var leftButton = document.querySelector('.ArrowBtn.Left');
    var rightButton = document.querySelector('.ArrowBtn.Right');

    if (leftButton) {
        leftButton.addEventListener('click', showPrevious);
    }

    if (rightButton) {
        rightButton.addEventListener('click', showNext);
    }
});
    </script>
</body>
</html>